<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title>Todo List</title>
	<style>
		.btn {
			background-color: DodgerBlue;
			border: none;
			color: white;
			padding: 10px 8px;
			font-size: 16px;
			cursor: pointer;
		}

		.fa {
			padding-right: 5px;
		}

		.fas {
			padding-left: 5px;
		}

		.btn #search {
			border-radius: 25px;
		}

		#edit:hover {
			background-color: orange;
			color: white;
		}

		#delete:hover {
			background-color: red;
			color: white;
		}
	</style>
</head>

<body>
	<div align="center">
		<div style="margin-top:2%; margin-bottom:1.5%;">
			<h2>Todo List</h2>
			<form th:action="@{/todolist/list}" method="get">
				<a href="/todolist"><button type="button">Add</button></a>
				<input type="text" placeholder="Search..." name="keyword" id="keyword" th:value="${keyword}" />
				<button type="submit" id="search"><i class="fa fas fa-search"></i></button>
			</form>
			<form style="margin-left: 2.6%; margin-top: 10px;" th:action="@{/todolist/list}" method="get">
				<input style="width: 10.1%;" type="date" name="findDate" id="findDate" th:value="${findDate}" />
				<button type="submit" id="search"><i class="fa fas fa-calendar"></i></button>
			</form>
		</div>
		<br />
		<table class="table table-striped container-md" border=1>
			<thead>
				<tr>
					<th>Description</th>
					<th>Start Meter</th>
					<th>Target Date</th>
					<th>User</th>
					<th>Action</th>
				</tr>
			</thead>
			<th:block th:each="td : ${todos}">
				<tr>
					<td th:text="${td.description}"></td>
					<td th:text="${td.start_meter}"></td>
					<td th:text="${td.target_date}"></td>
					<td th:text="${td.user}"></td>
					<td>
						<a th:href=@{/todolist/edit/{id}(id=${td.id})}><button class="btn" id="edit" type="button"><i
									class="fa fas fa-edit"></i>Edit</button></a>
						<a th:href="@{/todolist/delete/{id}(id=${td.id})}"><button class="btn" type="button"
								id="delete"><i class="fa fa-trash"></i>Delete</button></a>
					</td>
				</tr>
			</th:block>
		</table>
	</div>
</body>

</html>